<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little pet world</title>
</head>
    <body class="fondo">

    <h1 class="titulo">Little Pet Word</h1>

        <div class="parrafo">
            <p>Inicia sesion o crea una cuenta para disfrutar de nuestras placas QR,
            recuerda que las puedes personalizar <br> con los diseños que tenemos para ti.
            <b>¿que esperas para comenzar?</b></p>
        </div>
      

        <div class="botones">
            <a href="/Usuarios/login/"> <button>Iniciar</button></a>
            <a href="/Usuarios/registro/"> <button>Registrar</button></a>
        </div>
    
    </body>
</html>

<style>

.fondo{
    background-color: rgb(100, 63, 14);
}

.titulo{
    color: rgb(243, 243, 243);
}

.parrafo{
    color: white;
}

.botones{
    color: darkgoldenrod;
}
   


</style>