<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little pet world</title>
</head>
<body>

    <p>Inicia sesion o crea una cuenta para disfrutar de nuestras placas QR,
    recuerda que las puedes personalizar con los diseños que tenemos para ti.</p>

    <p>Que esperas para comenzar.</p>

    <a href="/Usuarios/login/">Iniciar</a>
    <a href="/Usuarios/registro/">Registrarse</a>

    
</body>
</html>