


<br><br>
<div class="ui container">
    <h1 text align=" center"> Actualizar Perfil</h1>
</div>

<form action="" class="ui form" method="POST">

    {% csrf_token %}

    <div class="three fields">
    <div class="field">
      <label>Apodo</label>
      <input type="text" name="apodo" value="{{ }}" placeholder="Apodo" required>
    </div>

    <div class="field">
      <label>Email</label>
      <input type="email" name="email" value="{{  }}" placeholder="Correo" required>
    </div>


    
        <label>Contraseña</label>
        <input type="password" name="contrasena" value="{{ }}" placeholder="Contraseña" required>
      </div>


   

    <button class="ui button" type="submit">Guardar</button>
    
  </form>


{% endfor %}
