{% include "Inc/header.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
   

   
      <section id="boton">
        <button id="placa">Fabricar Placa</button>
      </section>

    <section class="home">
    </section>
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
    
    <br><br><br><br><br>

      <!-- Contenido 1 -->
      <section id="uno">


			<h2 class="myH2" id="titt">SOBRE EL PEDIDO</h2><br><br>
            

            <p class="myP">
                <b class="titulos">Como se genera?:</b> Al llenar el formulario con todos los datos solicitados del dueño y 
                sus mascota se genera un codigo QR, el cual se grabara en una placa metalica.<br><br>
               
                <b class="titulos">Como utilizarlo?:</b> Una vez te llegue la placa QR, tendras que fijarla en el collar de tu mascota, y al momento
                de escanearla podras vizualizar todos los datos y editarlos al iniciar session<br><br>

                <b class="titulos">Tiempo de entrega?:</b>Una vez la compra se haya realizado el producto se enviara a la direccion registrda y tardara 3 a 5 dias. <br><br>

                <b class="titulos">Que hacer si mi mascota se pierde con la placa?:</b> Si en algun momento tu mascota se llega a estraviar entre la comunidad se
                 podran ayudar adar la ubicacion de esta.
            </p><br><br><br>

            <img class="as" src="{% static 'Img/'%}" alt="logo">

        
        </section>
            





        <!-- Contenido 2-->
        <section id="dos">
          

            <h2 class="myH2" id="titt">PLACAS<h2><br><br>

            <h5>
                <b class="myP" id="titulos">Descripcion</b>
            </h5>

            <p class="myP">Placa metalica que lleva grabado el nombre de la mascota, y el codigo QR con todos los datos ingresados por el dueño.</p><br>
         
            <!-- <img class="ui medium circular image" id="imgg" src="{% static 'Img/01.jpg'%}" alt="logo">
            <img class="ui medium circular image" id="imgg" src="{% static 'Img/02.PNG'%}" alt="logo"> -->

            <h5>
                <b id="titulos" class="myP">Caracteristicas</b>
            </h5>

            <p class="myP" >

            -Dimensiones: 24x33mm. (ancho x alto) <br>
            -Peso:  15g <br>
            -Material:  metal <br>
            -Codigo QR:  codigo unico <br>
            </p>


            
        

       

        </section>



         <!-- Contenido 3-->
         <section id="tres">

            
                <h2 class="myH2" id="titt">NOSOTROS</h2><br><br>

                <p class="myP">Sabemos el cariño que las personas pueden llegar a tener por estos nuevos integrantes de la familia, y lo que menos queremos es no volver a verlos por eso nos enfocamos en un forma de reducir
                las perdidas de estas, y de esta problematica nacio <b class="titulos">Little pet world</b>, un pequeño mundo de mascotas en el cual toda la comunidad
                del comun podremos ayudarnos entre todos a dar con la ubicacion de esta.<br>

                <a href="#boton" class="titulos">QUE ESPERAS PARA UNIRTE A LA MANADA</a></p>


                <img class="as" src="{% static 'Img/'%}" alt="logo">


        </section>
    </div>
    


    









<style>
    
.titulos{
    color: #f0910a;
}

#titt{
    color: chocolate;
}

#titulos{
    color: #f0910a;
}

#imgg{
    
    padding: 50%;
}
</style>






<script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
</script>
   

<script>
    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

});

</script>

  



</body>
</html>

{% include "Inc/footer.html" %}